/* Fonts */
@font-face {
    font-family: "JetBrains Mono";
    src: url(./assets/fonts/JetBrainsMono-VariableFont_wght.ttf);
}
/* CSS Reset */
*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --Red: #F64A4A;
    --Orange: #FB7C58;
    --Yellow: #F8CD65;
    --Neon-Green: #A4FFAF;
    --Almost-White: #E6E5EA;
    --Grey: #817D92;
    --Dark-Grey: #24232C;
    --Very-Dark-Grey: #18171F;
}
body{
    font-family: "JetBrains Mono";
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Very-Dark-Grey);
    color: white;
}
h3{
    color: var(--Grey);
    margin-bottom: 1em;
}
.copy-section{
    width: 370px;
    display: flex;
    justify-content: space-between;
    background-color: var(--Dark-Grey);
    padding: 1em 1.5em;
    margin-bottom: 1em;
}
.copy-section div{
    display: flex;
    gap: 0.9em;
    align-items: center;
}
#copied{
    text-transform: uppercase;
    color: var(--Neon-Green);
    display: none;
}
#generated-password{
    color: var(--Almost-White);
}
#copy-svg:hover{
    cursor: pointer;
}
#copy-svg:hover path{
    fill: var(--Almost-White);
}
.password-parameter-section{
    width: 370px;
    background-color: var(--Dark-Grey);
    padding: 1em 1.5em;
}
.password-parameter-section h5{
    letter-spacing: 1px;
    margin-bottom: 1.5em;
}
.character-lenght-section{
    display: flex;
    justify-content: space-between;
}
#character-lenght-value{
    font-weight: 700;
    color: var(--Neon-Green);
    font-size: 1.5rem;
}
input[type="range"]{
    appearance: none;
    margin-bottom: 2.5em;
    border-radius: 0 ;
    accent-color: var(--Neon-Green);
    width: 100%;
    height: 8px;
    outline: none;
    background-color: var(--Very-Dark-Grey);
}
input[type="range"]::-webkit-slider-thumb{
    appearance: none;
    background-color: var(--Almost-White);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: none;
}
input[type="range"]::-webkit-slider-thumb:hover{
    background-color: var(--Very-Dark-Grey);
    cursor: pointer;
    border: 1.5px solid var(--Neon-Green);
}
ul{
    list-style: none;
}
ul li{
     /* letter-spacing: 1px;  */
     margin-bottom: 0.8em;
     display: flex;
     align-items: center;
     gap: 1em;
}
input[type="checkbox"]{
    appearance: none;
    accent-color: var(--Neon-Green);
    height: 19px;
    width: 19px;
    border-radius: 0;
    border: 1.5px solid var(--Almost-White);
    background-color: var(--Dark-Grey);
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type="checkbox"]::after{
    content: url(./assets/images/icon-check.svg);
    display: none;
}
input[type="checkbox"]:hover{
    cursor: pointer;
    border: 1.5px solid var(--Neon-Green);
}
input[type="checkbox"]:checked{
    background-color: var(--Neon-Green);
    border: none;
}
input[type="checkbox"]:checked::after{
    display: block;
}
.strength-section{
    background-color: var(--Very-Dark-Grey);
    padding: 1em 1.5em;
    margin: 1.5em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#strength{
    text-transform: uppercase;
}
.rectangle{
    display: block;
    width: 10px;
    height: 28px;
    border: 2px solid var(--Almost-White);
}
#strenght-rate{
    display: flex;
    gap: 0.5em;
    align-items: center;
    /* display: none; */
}
.one{
    background-color: var(--Red);
}
.two{
    background-color: var(--Orange);
}
.three{
    background-color: var(--Yellow);
}
.four{
    background-color: var(--Neon-Green);
}
.password-parameter-section button{
    width: 100%;
    background-color: var(--Neon-Green);
    padding: 1em 0;
    border: none;
    text-transform: uppercase;
    font-weight: 540;
    letter-spacing: 1px;
}
#fleche{
    margin-left: 0.8em;
}
.password-parameter-section button:hover{
    background-color: var(--Very-Dark-Grey);
    color: var(--Neon-Green);
    border: 1.5px solid var(--Neon-Green);
    cursor: pointer;
}
.password-parameter-section button:hover #fleche path{
   fill: var(--Neon-Green);
}